<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="" providerName="System.Data.SqlClient" />
    <add name="SqlServerConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringComments" connectionString="" providerName="System.Data.SqlClient" />
    <add name="HASTDBConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    <add name="ScientificNameConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    <add name="descriptionConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    <add name="PhotoDBConnectionString" connectionString="" providerName="System.Data.SqlClient" />
    <add name="HASTAnnounceConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="googlemaps.subgurim.net" value="" />
    <add key="wll_appid" value=" />
    <add key="wll_secret" value="" />
    <add key="wll_securityalgorithm" value="wsignin1.0" />
    <add key="MailServer" value="" />
    <add key="MailUsername" value="" />
    <add key="MailPassword" value="" />
    <add key="MailFrom" value="" />
    <add key="ErrorLogEmail" value="" />
  </appSettings>

 

    <system.web>
      
     
      
      <roleManager enabled="true" />
      <trace enabled="true" />
      <customErrors defaultRedirect="~/ErrorPage.htm" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />

      <authentication mode="Forms" />

      <siteMap defaultProvider="TWFloraC" enabled="true">
        <providers>
          <add name="TWFloraC" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/TWFloraC.sitemap" />
          <add name="TWFloraE" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/TWFloraE.sitemap" />
          <add name="HastC" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/HastC.sitemap" />
          <add name="Management" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/Management.sitemap" />
        </providers>
      </siteMap>
      
      <httpRuntime requestValidationMode="2.0" />
      
      <pages>
        <controls>
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
      
   
      <!--globalization requestEncoding="big5" responseEncoding="big5"/-->
      
   


    </system.web>

  
</configuration>
