USE [HASTDB]
GO
/****** Object:  Table [dbo].[exchangeBatch]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchangeBatch](
	[batchNum] [smallint] NOT NULL,
	[exchDate] [smalldatetime] NULL,
	[institutionID] [smallint] NULL,
	[exchTo] [smallint] NULL,
 CONSTRAINT [PK_exchangeBatch] PRIMARY KEY CLUSTERED 
(
	[batchNum] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
