USE [HASTDB]
GO
/****** Object:  Table [dbo].[diskNo]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diskNo](
	[diskNo] [nvarchar](4) NOT NULL,
	[給gis小組] [bit] NOT NULL
) ON [PRIMARY]
GO
