USE [HASTDB]
GO
/****** Object:  Table [dbo].[tbMonth]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMonth](
	[monthNo] [smallint] NOT NULL,
	[monthE] [nvarchar](15) NULL,
	[monthAbbr] [nvarchar](5) NULL,
 CONSTRAINT [PK_tbMonth] PRIMARY KEY CLUSTERED 
(
	[monthNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
