USE [HASTDB]
GO
/****** Object:  Table [dbo].[taibif]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taibif](
	[collectionCode] [int] NOT NULL
) ON [PRIMARY]
GO
