USE [HASTDB]
GO
/****** Object:  Table [dbo].[invoicePurpose]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoicePurpose](
	[purposeID] [int] IDENTITY(1,1) NOT NULL,
	[purposeE] [nvarchar](30) NULL,
	[purposeC] [nvarchar](10) NULL,
 CONSTRAINT [PK_invoicePurpose] PRIMARY KEY CLUSTERED 
(
	[purposeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
