USE [HASTDB]
GO
/****** Object:  Table [dbo].[imgSpeciesID]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imgSpeciesID](
	[speciesID] [int] NULL
) ON [PRIMARY]
GO
