USE [HASTDB]
GO
/****** Object:  Table [dbo].[naturalness]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[naturalness](
	[naturalnessID] [smallint] NOT NULL,
	[naturalnessStatus] [nvarchar](50) NULL,
	[naturalnessC] [nvarchar](20) NULL,
	[newAdd] [bit] NOT NULL,
	[edited] [bit] NOT NULL,
 CONSTRAINT [PK_naturalness] PRIMARY KEY CLUSTERED 
(
	[naturalnessID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
