USE [HASTDB]
GO
/****** Object:  Table [dbo].[ASCC_personType]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASCC_personType](
	[序號] [smallint] NOT NULL,
	[說明] [nvarchar](30) NULL,
 CONSTRAINT [PK_ASCC_personType] PRIMARY KEY CLUSTERED 
(
	[序號] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
