USE [HASTDB]
GO
/****** Object:  Table [dbo].[taipeiphoto]    Script Date: 03/12/2018 14:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taipeiphoto](
	[F1] [int] NULL,
	[F2] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[speciesID] [int] NULL
) ON [PRIMARY]
GO
